html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ul,
ol,
li,
a,
input,
select,
textarea {
	margin: 0;
	padding: 0;
	border: 0 none;
}

ul,
ol,
li {
	list-style: none;
}
a,
a:hover,
a:focus,
a:active {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

.mobile-container {
	padding-left: 16px;
	padding-right: 16px;
	background-color: #1b1a1f;
	position: relative;
}

@media screen and (min-width: 768px) {
	.mobile-container {
		margin: 0 auto;
		width: 650px;
	}
}
